<div class="p-10 flex justify-center">
  <form
    (ngSubmit)="addUser(form)"
    #form="ngForm"
    class="space-y-3 p-5 bg-blue-200 rounded-lg"
  >
    <div class="grid grid-cols-12 font-semibold">
      <label for="" class="col-start-4 col-span-1 mr-3 my-auto"
        >First name:</label
      >
      <input
        type="text"
        class="col-span-3 py-1 rounded-lg"
        [(ngModel)]="userData.firstname"
        [ngModelOptions]="{ standalone: true }"
        required
      />
    </div>
    <div class="grid grid-cols-12 font-semibold">
      <label for="" class="col-start-4 col-span-1 mr-3 my-auto"
        >Last name:</label
      >
      <input
        type="text"
        class="col-span-3 py-1 rounded-lg"
        [(ngModel)]="userData.lastname"
        [ngModelOptions]="{ standalone: true }"
        required
      />
    </div>
    <div class="grid grid-cols-12 font-semibold">
      <label for="" class="col-start-4 col-span-1 mr-3 my-auto">Email:</label>
      <input
        type="text"
        class="col-span-3 py-1 rounded-lg"
        [(ngModel)]="userData.email"
        [ngModelOptions]="{ standalone: true }"
        required
      />
    </div>
    <div class="grid grid-cols-12 font-semibold">
      <label for="" class="col-start-4 col-span-1 mr-3 my-auto">Phone:</label>
      <input
        type="tel"
        class="col-span-3 py-1 rounded-lg"
        [(ngModel)]="userData.phone"
        [ngModelOptions]="{ standalone: true }"
        required
      />
    </div>
    <div class="grid grid-cols-12 font-semibold">
      <label for="" class="col-start-4 col-span-1 mr-3 my-auto"
        >Date of birth:</label
      >
      <input
        type="date"
        class="col-span-3 rounded-lg"
        [(ngModel)]="userData.DOB"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="grid grid-cols-12 font-semibold">
      <label for="" class="col-start-4 col-span-1 mr-3 my-auto">Status:</label>
      <div class="col-span-1">
        <input
          type="radio"
          name="status"
          class="py-1 rounded-lg"
          value="true"
          [(ngModel)]="userData.status"
        />activated
      </div>
      <div class="col-span-2">
        <input
          type="radio"
          name="status"
          class="py-1 rounded-lg"
          value="false"
          [(ngModel)]="userData.status"
        />suspended
      </div>
    </div>
    <button (click)="addUser(form)" class="px-3 py-1 rounded-lg bg-blue-600 text-white">
      Submit
    </button>
  </form>
</div>
