<div
  class="group grid grid-cols-12 m-2 p-4 bg-blue-200 text-gray-700 rounded-lg shadow-sm hover:bg-blue-600 duration-200 transition hover:text-white hover:shadow-lg hover:-translate-y-1"
>
  <div class="col-span-10">
    <p class="font-semibold text-lg">
      {{ userData.firstname }} <span>{{ userData.lastname }}</span>
    </p>
    <p>{{ hiddenEmail }}</p>
    <p>{{ hiddenPhone }}</p>
    <p>{{ userData.DOB }}</p>
    <p *ngIf="userData.status; else offline">
      <span
        class="relative inline-flex rounded-full h-3 w-3 bg-green-500"
      ></span>
      Activated
    </p>
    <ng-template #offline>
      <p>
        <span
          class="relative inline-flex rounded-full h-3 w-3 bg-red-500"
        ></span>
        Suspended
      </p>
    </ng-template>
  </div>
  <div
    class="col-span-2 text-white flex flex-col ml-auto opacity-0 transition group-hover:opacity-100 justify-center"
  >
    <app-user-edit [userData]="userData"
    ></app-user-edit>
  </div>
</div>
